.materias {
    display: grid;
    padding-bottom: 3rem;
    background-color: #DDDDDD;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
    grid-auto-flow: row;
    grid-template-areas:
        "tituloTec tituloTec tituloTec tituloTec"
        "testimonios primero segundo tercero"
        "cuarto quinto sexto septimo"
        "tituloBach tituloBach tituloBach tituloBach"
        "primeroBach segundoBach terceroBach cuartoBach"
        "quintoBach sextoBach testimoniosBach testimoniosBach";
}

.materias h3,
.materias h2 {
    text-align: center;
}

.testimonios,
.testimoniosBach {
    align-items: center;
    width: 100%;
}

.primero {
    grid-area: primero;
    padding: 1rem 1rem 1rem 1rem;
    background: #DDDDDD;
}

.segundo {
    grid-area: segundo;
    padding: 1rem 1rem 1rem 1rem;
    background: #DDDDDD;
}

.tercero {
    grid-area: tercero;
    padding: 1rem 1rem 1rem 1rem;
    background: #DDDDDD;
}

.cuarto {
    grid-area: cuarto;
    padding: 1rem 1rem 1rem 1rem;
    background: #DDDDDD;
}

.quinto {
    grid-area: quinto;
    padding: 1rem 1rem 1rem 1rem;
    background: #DDDDDD;
}

.sexto {
    grid-area: sexto;
    padding: 1rem 1rem 1rem 1rem;
    background: #DDDDDD;
}

.septimo {
    grid-area: septimo;
    padding: 1rem 1rem 1rem 1rem;
    background: #DDDDDD;
}

.testimonios {
    grid-area: testimonios;
    padding: 1rem 1rem 1rem 1rem;
    background: #DDDDDD;
}

.tituloBach {
    grid-area: tituloBach;
    background: #900D0D;
    color: white;
    align-items: center;
}

.tituloTec {
    grid-area: tituloTec;
    background: #900D0D;
    color: white;
}

.primeroBach {
    grid-area: primeroBach;
    padding: 1rem 1rem 1rem 1rem;
    background: #DDDDDD;
}

.segundoBach {
    grid-area: segundoBach;
    padding: 1rem 1rem 1rem 1rem;
    background: #DDDDDD;
}

.terceroBach {
    grid-area: terceroBach;
    padding: 1rem 1rem 1rem 1rem;
    background: #DDDDDD;
}

.cuartoBach {
    grid-area: cuartoBach;
    padding: 1rem 1rem 1rem 1rem;
    background: #DDDDDD;
}

.quintoBach {
    grid-area: quintoBach;
    padding: 1rem 1rem 1rem 1rem;
    background: #DDDDDD;
}

.sextoBach {
    grid-area: sextoBach;
    padding: 1rem 1rem 1rem 1rem;
    background: #DDDDDD;
}

.testimoniosBach {
    grid-area: testimoniosBach;
    padding: 1rem 1rem 1rem 1rem;
}


.testimonios,
.testimoniosBach {
    display: flex;
    justify-content: center;
    width: 100%;
}

.testimonios img,
.testimoniosBach img {
    width: 100%;
    border: 1px solid #DAA520;
    box-shadow: 0px 1px 10px #DAA520;
}

.tituloModalidades h2 {
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}