button {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 9px 13px;
    border-radius: 15px;
    border: 2px solid rgb(230, 88, 85);
    box-shadow: 2px 2px 10px rgb(227, 45, 42);
    color: aliceblue;
    background-color: rgb(244, 140, 138);
}

button:hover {
    background-color: rgb(185, 24, 22);
}