.cardFormMap {
    width: 45%;
    padding: 1rem 1rem;
    margin: 1rem;
    background-color: rgb(220, 181, 181);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.mapa {
    width: 100%;
}