.principalPages {
    position: relative;
    display: inline-block;
}

.frenteColegioPages {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.tituloPages {
    position: absolute;
    justify-content: center;
    color: aliceblue;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}