.cardContainer,
.cardContenedorNoticias {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    padding-top: 6rem;
}

.cardContenedorNoticias {
    padding-top: 1rem;
}

.card {
    width: 30%;
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: rgb(196, 196, 196);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    height: 40%;
}

.card img,
.frenteColegioPages img {
    width: 100%;
}