.cardInformacion {
    width: 22%;
    padding: 1.5rem 1.5rem;
    margin: 1rem;
    background: rgb(241, 90, 89);
    background: linear-gradient(0deg, rgba(241, 90, 89, 1) 65%, rgba(237, 43, 42, 1) 100%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.cardTexto {
    width: 100%;
    word-wrap: break-word;

    p,
    h4 {
        color: white;
    }

}

.cardTexto h4 {
    text-align: center;
}

.cardTexto p {
    margin-bottom: 10px;
    padding: 5px;
}

.informacionUtil {
    background-color: black;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}