.informacion {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.cardInformacion {
    width: 22%;
    margin: 1rem;
    background-color: rgb(246, 217, 217);
    border-radius: 15px;
    flex-direction: column;
}

.cardTexto {
    width: 100%;
    word-wrap: break-word;
}

.cardTexto h3 {
    text-align: center;
}

.cardTexto p {
    text-align: center;
}

.cardTexto h2 {
    text-align: center;
}

.cardTexto p {
    text-align: justify;
    margin-bottom: 10px;
    padding: 5px;
}