/* === MEDIA QUERIES === */

@media screen and (max-width: 1098px) {
    .cardInformacion {
        width: 23%;
        margin: 0.5rem;
    }
}


/* === MEDIA QUERIES === */

@media screen and (max-width: 1064px) {
    .cardInformacion {
        width: 23%;
    }

    .textoImagen {
        top: 75%;
    }

    .card {
        width: 45%;
    }

    ul {
        font-size: 1.1rem;
    }

    p {
        font-size: 1.1rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 2rem;
    }

    h1 {
        font-size: 2.4rem;
    }

    .tituloAnio {
        margin-right: 6rem;
    }
}

/* === MEDIA QUERIES === */

@media screen and (max-width: 992px) {

    .cardAlumnos {
        width: 30%;
        margin: 0.5rem 0.5rem;
        padding: 1rem 1rem;
    }

}

/* === MEDIA QUERIES === */

@media screen and (max-width: 960px) {
    .cardInformacion {
        width: 45%;
        margin: 0.5rem;
    }

    .textoImagen {
        top: 75%;
    }

    .card {
        width: 45%;
    }



    .materias {
        display: grid;
        grid-template-columns: 33% 33% 34%;
        grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content;
        gap: 8px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "tituloTec tituloTec tituloTec"
            "primero segundo tercero"
            "cuarto quinto sexto"
            "septimo testimonios testimonios"
            "tituloBach tituloBach tituloBach"
            "primeroBach segundoBach terceroBach"
            "cuartoBach quintoBach sextoBach"
            "testimoniosBach testimoniosBach testimoniosBach";
    }

    .quinto {
        grid-area: quinto;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .sexto {
        grid-area: sexto;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .tituloTec {
        grid-area: tituloTec;
    }

    .primero {
        grid-area: primero;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .segundo {
        grid-area: segundo;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .tercero {
        grid-area: tercero;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .cuarto {
        grid-area: cuarto;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .septimo {
        grid-area: septimo;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .testimonios {
        grid-area: testimonios;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .tituloBach {
        grid-area: tituloBach;
    }

    .primeroBach {
        grid-area: primeroBach;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .segundoBach {
        grid-area: segundoBach;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .terceroBach {
        grid-area: terceroBach;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .cuartoBach {
        grid-area: cuartoBach;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .quintoBach {
        grid-area: quintoBach;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .sextoBach {
        grid-area: sextoBach;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .testimoniosBach {
        grid-area: testimoniosBach;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    html,
    body,
    .materias {
        height: 100%;
    }

    .testimoniosBach {
        text-align: center;
        justify-content: center;
    }

    .testimonios img {
        width: 50%;
    }

}

/* === MEDIA QUERIES === */

@media screen and (max-width: 800px) {
    .cardInformacion {
        width: 45%;
    }

    .institucionalDer,
    .institucionalIzq {
        flex-direction: column;
        width: 100%;
    }

    .institucionalDer div,
    .institucionalIzq div {
        width: 90%;
    }

    .cardFormMap {
        flex-direction: column;
        width: 80%;
    }

    .institucionalDer img,
    .institucionalIzq img {
        width: 60%
    }



}

/* === MEDIA QUERIES === */

@media screen and (max-width: 757px) {

    .testimoniosBach img {
        width: 50%;
    }

    .testimoniosBach img {
        display: none;
    }

    .textoImagen {
        width: 80%;
    }

    .card {
        width: 90%;
    }

    ul {
        font-size: 1rem;
    }

    p {
        font-size: 1.1rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 2.1rem;
    }

    .tituloAnio {
        margin-right: 6rem;
    }

}

/* === MEDIA QUERIES === */

@media screen and (max-width: 640px) {


    .testimonios img {
        width: 70%;
    }

    .cardFormMap {
        flex-direction: column;
        width: 80%;
    }

    .institucionalDer img,
    .institucionalIzq img {
        width: 70%
    }

    .tituloAnio {
        margin-right: 4rem;
    }

}

/* === MEDIA QUERIES === */

@media screen and (max-width: 550px) {
    .cardAlumnos {
        width: 45%;
    }

    .materias {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content;
        gap: 8px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "tituloTec tituloTec"
            "primero segundo"
            "tercero cuarto"
            "quinto sexto"
            "septimo testimonios"
            "tituloBach tituloBach"
            "primeroBach segundoBach"
            "terceroBach cuartoBach"
            "quintoBach sextoBach"
            "testimoniosBach testimoniosBach";
    }

    .quinto {
        grid-area: quinto;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .sexto {
        grid-area: sexto;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .tituloTec {
        grid-area: tituloTec;
    }

    .primero {
        grid-area: primero;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .segundo {
        grid-area: segundo;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .tercero {
        grid-area: tercero;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .cuarto {
        grid-area: cuarto;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .septimo {
        grid-area: septimo;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .testimonios {
        grid-area: testimonios;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .tituloBach {
        grid-area: tituloBach;
    }

    .primeroBach {
        grid-area: primeroBach;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .segundoBach {
        grid-area: segundoBach;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .terceroBach {
        grid-area: terceroBach;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .cuartoBach {
        grid-area: cuartoBach;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .quintoBach {
        grid-area: quintoBach;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .sextoBach {
        grid-area: sextoBach;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .testimoniosBach {
        grid-area: testimoniosBach;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    html,
    body,
    .materias {
        height: 100%;
    }


    .testimoniosBach {
        text-align: center;
        justify-content: center;
    }

    .testimonios img {
        width: 100%;
    }

    .tituloAnio {
        margin-right: 5rem;
    }

}

/* === MEDIA QUERIES === */

@media screen and (max-width: 508px) {
    .titulo {
        text-align: center;
    }

    .card {
        width: 80%;
    }

    .cardInformacion {
        width: 90%;
    }

    ul {
        font-size: 0.9rem;
    }

    p {
        font-size: 1rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h1 {
        font-size: 2rem;
    }

    .institucionalDer img,
    .institucionalIzq img {
        width: 70%
    }

}

/* === MEDIA QUERIES === */

@media screen and (max-width: 425px) {
    * {
        padding: 0;
        margin: 0;
    }

    main {
        padding-top: 4.79rem;
    }

    .navbar img {
        width: 50px;
        height: 50px;
    }

    .navbar-toggler .navbar-toggler-icon {
        width: 1rem;
        height: 1rem;
    }

    h1 {
        margin: 1rem;
    }


    .cardContainer {
        margin-bottom: 1rem;
        padding-top: 1rem;
    }



    .titulo {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .linkInicio {
        display: none;
    }

    .cardAlumnos {
        width: 35%;
        margin: 0 0 10px 8px;
        padding: 8px 8px 8px 8px;
    }


    .cardFormMap {
        flex-direction: column;
        width: 90%;
    }

    .titulo {
        text-align: center;
    }

    .card {
        width: 80%;
    }


    .cardAlumnos {
        width: 45%;
        margin: 0.5rem 0.5rem;
        padding: 0.7rem 0.7rem;
    }

    .institucionalDer img,
    .institucionalIzq img {
        width: 80%
    }

}