$font-titulo-responsive: 2.5rem;
$font-subtitulo-responsive: 2rem;
$font-tituloNoticias-responsive: 1.75rem;
$font-tituloNoticias-responsiveIntermedio: 1.50rem;
$font-tituloNoticias-responsive1: 1.25rem;
$font-parrafo-responsive: 1rem;
$fondo-cards: rgb(255, 243, 226);
$border: #900D0D;