/* === Cuerpo General */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(224, 215, 215);
}

h1 {
    margin: 5rem 0;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.titulo {
    display: flex;
    justify-content: center;
}



/* === Navbar */


main {
    padding-top: 8rem;
}



/* === Index */

.cardContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    padding-top: 6rem;
}

.card {
    width: 30%;
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: rgb(196, 196, 196);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
}



/* === buttonCards*/
button {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 9px 13px;
    border-radius: 15px;
    border: 2px solid rgb(230, 88, 85);
    box-shadow: 2px 2px 10px rgb(227, 45, 42);
    color: aliceblue;
    background-color: rgb(244, 140, 138);
}

button:hover {
    background-color: rgb(185, 24, 22);
}



/* === comun a todas las páginas */

.principalPages {
    position: relative;
    display: inline-block;
}

.frenteColegioPages {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.frenteColegioPages img {
    width: 100%;
}

.tituloPages {
    position: absolute;
    justify-content: center;
    color: aliceblue;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* ==== Contacto */

.cardFormMap{
    width: 45%;
    padding: 1rem 1rem;
    margin: 1rem;
    background-color: rgb(220, 181, 181);
    border-radius: 15px;
    display: flex;
    align-items: center;
}


/* ==== Institucional */

.institucionalDer,
.institucionalIzq {
    display: flex;
    align-items: center;
    width: 80%;
}

.institucionalDer div,
.institucionalIzq div {
    width: 60%;
    margin: auto;
    text-align: left;
}

.institucionalIzq {
    flex-direction: row-reverse;
}



/* ==== EstructuraComunPAginas */

.principalPages button {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 9px 13px;
    border-radius: 15px;
    border: 2px solid rgb(187, 188, 187);
    box-shadow: 2px 2px 10px rgb(155, 155, 155);
    color: rgb(75, 75, 75);
    background-color: rgb(220, 220, 220);
}

.principalPages button:hover {
    background-color: rgb(255, 255, 255);
}

.linkInicio {
    position: absolute;
    justify-content: center;
    color: rgb(130, 22, 22);
    text-align: center;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
}


/* ==== Alumnos y Docentes */


.cardAlumnos {
    width: 30%;
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: rgb(196, 196, 196);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

.cardContainer .cardAlumnos img {
    display: flex;
    border-radius: 5%;
    width: 100%;
}


/* ======= Información Útil alumnos y docentes======== */


.informacion {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.cardInformacion {
    width: 22%;
    margin: 1rem;
    background-color: rgb(228, 150, 150);
    border-radius: 15px;
    flex-direction: column;
}

.cardTexto h2 {
    text-align: center;
}

.cardTexto p {
    text-align: justify;
    margin-bottom: 10px;
    padding: 5px;
}

/* ==== Academico ==== */

.materias {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
    gap: 8px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "tituloTec tituloTec tituloTec tituloTec"
        "testimonios primero segundo tercero"
        "cuarto quinto sexto septimo"
        "tituloBach tituloBach tituloBach tituloBach"
        "primeroBach segundoBach terceroBach cuartoBach"
        "quintoBach sextoBach testimoniosBach testimoniosBach";
}

.materias h2 {
    text-align: center;
}

.materias h1 {
    text-align: center;
}

.testimonios {
    align-items: center;
}

.testimoniosBach {
    align-items: center;
}

.primero {
    grid-area: primero;
    padding: 1rem 1rem 1rem 1rem;
}

.segundo {
    grid-area: segundo;
    padding: 1rem 1rem 1rem 1rem;
}

.tercero {
    grid-area: tercero;
    padding: 1rem 1rem 1rem 1rem;
}

.cuarto {
    grid-area: cuarto;
    padding: 1rem 1rem 1rem 1rem;
}

.quinto {
    grid-area: quinto;
    padding: 1rem 1rem 1rem 1rem;
}

.sexto {
    grid-area: sexto;
    padding: 1rem 1rem 1rem 1rem;
}

.septimo {
    grid-area: septimo;
    padding: 1rem 1rem 1rem 1rem;
}

.testimonios {
    grid-area: testimonios;
    padding: 1rem 1rem 1rem 1rem;
}

.tituloBach {
    grid-area: tituloBach;
}


.tituloTec {
    grid-area: tituloTec;
}

.primeroBach {
    grid-area: primeroBach;
    padding: 1rem 1rem 1rem 1rem;
}

.segundoBach {
    grid-area: segundoBach;
    padding: 1rem 1rem 1rem 1rem;
}

.terceroBach {
    grid-area: terceroBach;
    padding: 1rem 1rem 1rem 1rem;
}

.cuartoBach {
    grid-area: cuartoBach;
    padding: 1rem 1rem 1rem 1rem;
}

.quintoBach {
    grid-area: quintoBach;
    padding: 1rem 1rem 1rem 1rem;
}

.sextoBach {
    grid-area: sextoBach;
    padding: 1rem 1rem 1rem 1rem;
}

.testimoniosBach {
    grid-area: testimoniosBach;
    padding: 1rem 1rem 1rem 1rem;
}


html,
body,
.materias {
    height: 100%;
    margin: auto;
}

.materias {
    margin: 0rem 2rem 4rem 3rem;
}


/* 
==========================================               ========================================== 
========================================== MEDIA QUERIES ========================================== 
==========================================               ========================================== 
*/

@media screen and (max-width: 425px) {
    
* {
    padding: 0;
    margin: 0;
}

    main {
    padding-top: 4.79rem;
}

    .navbar img {
    width: 50px;
    height: 50px;
}

.navbar-toggler .navbar-toggler-icon {
    width: 1rem;
    height: 1rem;
}


h1 {
    margin: 1rem;
}

.titulo h1 {
    font-size: 1.5rem;
}

.card {
    width: 45%;
    margin: 0 0 10px 8px;
    padding: 8px 8px 8px 8px;
}

.card h2 {
    font-size: 1rem;
}

.cardContainer {
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.cardContainer p {
        display: none;
}

    h1 {
        font-size: 2rem;
}

.titulo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.linkInicio {
    display: none;
}

.cardAlumnos {
    width: 35%;
    margin: 0 0 10px 8px;
    padding: 8px 8px 8px 8px;
}

.cardTexto h2 {
    font-size: 1.5rem;
}

.cardTexto p {
    font-size: 1rem;
}

.cardInformacion {
    width: 45%;
}

.cardAcademico {
    width: 30%;
}

.cardAcademico h2 {
    font-size: 1rem;
}

.cardAcademico ul {
    font-size: 1rem;
}

.cardAcademicoTec {
    width: 24%;
}

.cardAcademicoTec h2 {
    font-size: 1rem;
}

.cardAcademicoTec ul {
    font-size: 0.9rem;
}


.materias {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content;
    gap: 8px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "tituloTec tituloTec tituloTec"
        "primero segundo tercero"
        "cuarto quinto sexto"
        "septimo testimonios testimonios"
        "tituloBach tituloBach tituloBach"
        "primeroBach segundoBach terceroBach"
        "cuartoBach quintoBach sextoBach"
        "testimoniosBach testimoniosBach testimoniosBach";
}

.quinto {
    grid-area: quinto;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.sexto {
    grid-area: sexto;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.tituloTec {
    grid-area: tituloTec;
}

.primero {
    grid-area: primero;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.segundo {
    grid-area: segundo;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.tercero {
    grid-area: tercero;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.cuarto {
    grid-area: cuarto;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.septimo {
    grid-area: septimo;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.testimonios {
    grid-area: testimonios;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.tituloBach {
    grid-area: tituloBach;
}

.primeroBach {
    grid-area: primeroBach;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.segundoBach {
    grid-area: segundoBach;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.terceroBach {
    grid-area: terceroBach;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.cuartoBach {
    grid-area: cuartoBach;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.quintoBach {
    grid-area: quintoBach;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.sextoBach {
    grid-area: sextoBach;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.testimoniosBach {
    grid-area: testimoniosBach;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

html,
body,
.materias {
    height: 100%;
    margin: auto;
}
    
.materias h2 {
    font-size: 1.3rem;
}
    
.materias h1 {
    font-size: 1.5rem;
}

.materias ul {
    font-size: 1rem;
}
    
.testimonios {
    font-size: 1rem;
}    
    
.testimoniosBach {
        text-align: center;
        justify-content: center;
        font-size: 1rem;
}

.cardInformacion {
    width: 40%;
    margin: 0.5rem;
}

.cardFormMap{
    flex-direction: column;
    width: 90%;
}

.mapa {
    width: 350px;
    height: 450px;
}

}